<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/battleship.JPG" alt="battleship">
  </div>
  <div class="col-sm-8">
    <h2>Battleship</h2>
    <p>Battleship game built with JavaScript as part of a tutorial.</p>
    <p><strong>JavaScript, HTML, CSS</strong></p>
    <p><a href="https://sfitzgerald16.github.io/battleship/" target="_blank">Battleship</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/pokedex.JPG" alt="Pokedex">
  </div>
  <div class="col-sm-8">
    <h2>Pokedex</h2>
    <p>An interactive Pokedex page using JQuery.</p>
    <p><strong>JQuery, HTML, CSS</strong></p>
    <p><a href="http://sfitzgerald.me/pokedex/" target="_blank">Pokedex</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/ninjatocat.JPG" alt="ninja to cat">
  </div>
  <div class="col-sm-8">
    <h2>Ninja to Cat</h2>
    <p>A class exercise involving some basic JQuery functions, changing images on click.</p>
    <p><strong>JQuery, HTML, CSS</strong></p>
    <p><a href="https://sfitzgerald16.github.io/ninjatocat/" target="_blank">Ninja to Cat</a></p>
  </div>
</div>
