<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/hoamweb.PNG" alt="horn of africa web">
  </div>
  <div class="col-sm-8">
    <h2>Horn of Africa Mission</h2>
    <p>A nonprofit organization wanted a complete website redesign. I built a WordPress site based on the Charitas theme with some custom modifications including the slider, blog and page and post formats.</p>
    <p><strong>WordPress, PHP, HTML, CSS</strong></p>
    <p><a href="http://www.hornofafrica.org/" target="_blank">www.hornofafrica.org</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/ldcaweb.jpg" alt="lost dogs of california web">
  </div>
  <div class="col-sm-8">
    <h2>Lost Dogs of California</h2>
    <p>Lost Dogs of California is a nonprofit that I started to help reunite lost dogs with their owners using the power of social media. I created the website using the Wordpress Twenty-Seventeen theme with some modifications to the header, post and page formatting.</p>
    <p><strong>WordPress, PHP, HTML, CSS</strong></p>
    <p><a href="http://californialostdogs.com/" target="_blank">www.californialostdogs.com</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/thepaperheartsweb.JPG" alt="the paper hearts web">
  </div>
  <div class="col-sm-8">
    <h2>The Paper Hearts</h2>
    <p>A local band needed a new website that would express their style and be a platform to share their music. I built a WordPress site that customizd an existing theme and added content including an album download and a calendar of upcoming gigs.</p>
    <p><strong>WordPress, HTML, CSS</strong></p>
    <p><a href="http://www.thepaperhearts.com/" target="_blank">www.thepaperhearts.com</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/stnazarethweb.JPG" alt="the paper hearts web">
  </div>
  <div class="col-sm-8">
    <h2>Saint Nazareth Hospice</h2>
    <p>I created a WordPress site to introduce prospective clients to a local business. An existing theme was used, with customiztion to menus, navigation, map, and contact form.</p>
    <p><strong>WordPress, HTML, CSS</strong></p>
    <p><a href="http://www.saintnazarethhospice.com/" target="_blank">www.saintnazarethhospice.com</a></p>
  </div>
</div>
