<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/californialostcatsweb.JPG" alt="california lost cats web">
  </div>
  <div class="col-sm-8">
    <h2>California Lost Cats</h2>
    <p>I designed and built a basic web page for a nonprofit. The site incorporates responsive design, drop-down navigation and frames.</p>
    <p><strong>HTML, CSS</strong></p>
    <p><a href="http://californialostcats.com/" target="_blank">www.californialostcats.com</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/restaurante.JPG" alt="restaurante web">
  </div>
  <div class="col-sm-8">
    <h2>Restaurante</h2>
    <p>I built a restaurant website as a class project. The mockup was provided. Elements include an image slider, parallax scroll and Google map integration.</p>
    <p><strong>HTML, CSS, Bootstrap</strong></p>
    <p><a href="https://geekwiseb2.github.io/restaurante-site-sfitzgerald16" target="_blank">Restaurante</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/petstoreweb.JPG" alt="restaurante web">
  </div>
  <div class="col-sm-8">
    <h2>Pet Store</h2>
    <p>I built a pet store website as a class project. The mockup was provided. This basic site utilizes Bootstrap and Google map integration.</p>
    <p><strong>HTML, CSS, Bootstrap</strong></p>
    <p><a href="https://sfitzgerald16.github.io/neo-pet-store/" target="_blank">Pet Store</a></p>
  </div>
</div>
