<div class="container">
  <h1 class="page-header">Portfolio</h1>
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
      <li><a routerLink="angular">Angular</a></li>
      <li><a routerLink="javascript">JavaScript</a></li>
      <li><a routerLink="html">HTML</a></li>
      <li><a routerLink="wordpress">WordPress</a></li>
      <li><a routerLink="python">Python</a></li>
      <li><a routerLink="social-media">Social Media</a></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
