<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/blogapp.JPG" alt="blog app">
  </div>
  <div class="col-sm-8">
    <h2>Blog App</h2>
    <p>Full MEAN stack app where users can post, like and comment. Login and registration include front and back end validation.</p>
    <p><strong>Angular, MongoDB, NodeJS, TypeScript, Bootstrap</strong></p>
    <p><a href="https://radiant-spire-32080.herokuapp.com" target="_blank">Blog App</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/weather.JPG" alt="weather">
  </div>
  <div class="col-sm-8">
    <h2>Weather Forecast</h2>
    <p>A single page Angular app that displays the current weather forecast for a selection of cities. Utilizes routing and pulls data from the Open Weather Map API.</p>
    <p><strong>Angular, TypeScript, Bootstrap</strong></p>
    <p><a href="https://sfitzgerald16.github.io/weather/" target="_blank">Weather Forecast</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/githubscore.JPG" alt="githubscore">
  </div>
  <div class="col-sm-8">
    <h2>GitHub Score</h2>
    <p>Uses the GitHub API to calculate a score for a given username.</p>
    <p><strong>Angular, TypeScript</strong></p>
    <p><a href="https://sfitzgerald16.github.io/githubscore/" target="_blank">GitHub Score</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/timezones.JPG" alt="timezones">
  </div>
  <div class="col-sm-8">
    <h2>Timezones</h2>
    <p>A single page Angular app that displays the current time in different time zones.</p>
    <p><strong>Angular, TypeScript, Bootstrap</strong></p>
    <p><a href="https://sfitzgerald16.github.io/timezones/" target="_blank">Timezones</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/barcode.JPG" alt="retro barcode generator">
  </div>
  <div class="col-sm-8">
    <h2>Retro Barcode Generator</h2>
    <p>A single page Angular app that created a new pattern of random colors on button click.</p>
    <p><strong>Angular, TypeScript</strong></p>
    <p><a href="https://sfitzgerald16.github.io/barcode/" target="_blank">Retro Barcode Generator</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="./assets/images/switchboard.JPG" alt="switchboard">
  </div>
  <div class="col-sm-8">
    <h2>Switchboard</h2>
    <p>An Angular exercise exploring event listeners. Switchboard with the ability to change class or multiple switches.</p>
    <p><strong>Angular, TypeScript</strong></p>
    <p><a href="https://sfitzgerald16.github.io/switchboard/" target="_blank">Switchboard</a></p>
  </div>
</div>
